/*reset */
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body
{
    background: darksalmon
}


/* Iniciando pelo topo*/
div#topo
{
    background: blueviolet;
    height: 300px;
    width: 1024px;
    margin: auto;
}
div#topo-transparencia
{
    height: 300px;
    width: 1024px;
    margin: auto;
    opacity: 70%;
    background: #ecb2c4;
    position: absolute;
    margin-top: -305px;
}
div#logo-rede
{
    background: greenyellow;
    height: 100px;
    width: 1024px;
    position: absolute;
    margin-top: -310px;
   /* display: block;*/
   justify-content: space-between;

}
div#logo
{
    background: blue;
    width: 100px;
    height: 100px;
   /* margin-top: -310px;*/
    position: relative;
    float: left;
}
div#redes-sociais
{
    background: green;
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    float: right;
}

/* circulos do painel de fotos*/
div#circles
{
    background: tomato;
    width: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -30px;
    
}
div#circle-1
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    margin-right: 4px;
}
div#circle-2
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    margin-right: 4px;
}
div#circle-3
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}

div#menu-principal
{
    background: crimson;
    margin: auto;
    width: 1024px;
    height: 46px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: MV Boli;
    font-size: 17pt;
}
div#menu-principal a:link
{
    text-decoration:none;
    
}

li 
{
    
    display: inline;
    margin-right: 10px;
    
   
}
/* texto principal */

div#topo-texto 
{
    background: indigo;
    margin: auto;
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div#topo-texto img
{
    background:black;
    
}
section#texto-principal
{
    background: cyan;
    margin: auto;
    width: 1024px;
    height: 250px;
    display: block;
    text-align: center;
}
div#texto-coluna1
{
    background: darkkhaki;
    width: 475px;
    height: 190px;
    float: left;
    text-indent: 1.5em;
    text-align: justify;
    margin-left: 12px;
}

div#centro-texto
{
    background: greenyellow;
    height: 190px;
    width: 50px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#texto-coluna2
{
    background: darkred;
    width: 475px;
    height: 190px;
    margin-right: 12px;
    float: right;
    text-indent: 1.5em;
    text-align: justify;
}
div#footer-texto
{
    background: indigo;
    margin: auto;
    width: 1024px;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#footer-texto img
{
    background:black;
}
/* caixas com as imagens*/
div#foto-boxes
{
    margin: auto;
    width: 1024px;
    height: 380px;
    background: darkblue;
    display: flex;/* e todo tempo era só colocar isso???! vey, agora não vou esquecer como centralizar divs dentro de div*/
    justify-content: center;
    align-items: center;
    

}
.foto-box
{
    background: lightpink;
    width: 289px;
    height: 350px;
    float: left;
    margin: 10px;
    
}
.foto-box p{
    background: #e089a5;
    text-align: center;
    height: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: MV Boli;
    color: white;
}
footer
{
    background: crimson;
    margin: auto;
    width: 1024px;
    height: 120px;
    text-align: center;  
    position: relative;  
    
}

div#menu-footer
{
    background: #b37a8c;
    margin: auto;
    width: 1024px;
    height: 52px;
    text-align: center;
    font-size: 14pt;      
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
div#menu-footer a:link
{
    text-decoration: none;
    
}

footer p
{
    font-size: 12pt;
    font-style: italic;
    margin-top: 23px;
    
}