*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body
{
    background: darksalmon
}
/* Iniciando pelo topo*/
div#topo
{
    background: blueviolet;
    height: 300px;
    width: 1024px;
    margin: auto;

}
div#menu-principal
{
    background: crimson;
    margin: auto;
    width: 1024px;
    height: 30px;
    text-align: center;
}
li
{
    display: inline;
    align-items: center;
    text-decoration: none;
}
section#texto-principal
{
    background: cyan;
    margin: auto;
    width: 1024px;
    /*display: inline-block;  
    justify-content: center;*/
}
div#texto-coluna1
{
    background: darkkhaki;
    width: 500px;
    float: left;
    height: 190px;
}
div#texto-coluna2
{
    background: darkred;
    width: 500px;
    float: left;
    height: 190px;
}
div#boxes
{
    margin: auto;
    width: 1024px;
    background: darkblue;
}
.foto-box
{
    background: lightpink;
    width: 200px;
    height: 350px;
    float: left;
}
footer
{
    background: crimson;
    margin: auto;
    width: 1024px;
    height: 30px;
    text-align: center;    
}